# conda env create -f environment.yml
name: pylidar-tls-canopy
channels:
  - conda-forge
dependencies:
  - python>=3.10
  - numpy<2.0
  - numba
  - pandas
  - scipy
  - rasterio
  - tqdm
  - typed-ast
  - jupyterlab
  - ipywidgets
  - ipykernel
  - matplotlib
  - statsmodels
  - cxx-compiler
  - pip
  # - pip:
    # - -e .
variables:
  RIVLIB: /Stor1/wouter/software/riegl/libs/rivlib-2_8_0-x86_64-linux-gcc13
  RDBLIB: /Stor1/wouter/software/riegl/libs/rdblib-2.4.3-x86_64-linux
  RIVLIB_ROOT: /Stor1/wouter/software/riegl/libs/rivlib-2_8_0-x86_64-linux-gcc13
  RDBLIB_ROOT: /Stor1/wouter/software/riegl/libs/rdblib-2.4.3-x86_64-linux
  PYLIDAR_CXX_FLAGS: -std=c++11 
